<h1>Listing codesnippets</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @codesnippets.each do |codesnippet| %>
  <tr>
    <td><%= codesnippet.title %></td>
    <td><%= codesnippet.body %></td>
    <td><%= link_to 'Show', codesnippet %></td>
    <td><%= link_to 'Edit', edit_codesnippet_path(codesnippet) %></td>
    <td><%= link_to 'Destroy', codesnippet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Codesnippet', new_codesnippet_path %>
