<p id="notice"><%= notice %></p>

<p>
  <h2><%= @codesnippet.title %></h2>
</p>

<p>
  <b>Code:</b>
  <%=raw CodeRay.scan(@codesnippet.body, @codesnippet.syntax.parameterize.to_sym).div %>
</p>


<%= link_to 'Edit', edit_codesnippet_path(@codesnippet) %> |
<%= link_to 'Back', codesnippets_path %>
